:root {
  --first-color: #f0f5f9;
  --second-color: #c9d6df;
  --third-color: #52616b;
  --fourth-color: #1e2022;
  --heading-font-family: "Nanum Gothic", sans-serif;
  --default-font-family: "Outfit", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
}

h1 {
  font-size: 66px;
  font-weight: bold;
  color: var(--first-color);
}

h2,
p {
  color: var(--fourth-color);
}

h2 {
  font-size: 44px;
  color: var(--fourth-color);
  font-weight: bolder;
}

h3 {
  color: var(--fourth-color);
}

h4 {
  color: var(--first-color);
}

h5 {
  color: var(--first-color);
  font-size: 40px;
}

h6 {
  font-style: italic;
  color: var(--first-color);
}

p {
  font-size: 16px;
  line-height: 1.7;
}

img {
  border-radius: 10px;
}

.hero {
  background: var(--fourth-color);
  text-align: center;
  padding: 80px 20px;
}

.hero h4 {
  font-family: var(--default-font-family);
  font-weight: lighter;
}

.btn-branding {
  background: var(--third-color);
  border-radius: 4px;
  color: var(--first-color);
  font-size: 18px;
  line-height: 30px;
}

.btn-branding-outline {
  font-size: 18px;
  line-height: 30px;
  border-radius: 4px;
  color: var(--fourth-color);
  border: 1px solid var(--third-color);
}

.intro {
  padding-top: 50px;
  padding-bottom: 50px;
  background: var(--fourth-color);
}

.about-section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.profile {
  border-radius: 20px;
}

/*Work section */

.content-container {
  background: var(--fourth-color);
  padding: 140px 20px;
}

/*Contact page*/

.contact-text {
  color: var(--fourth-color);
}
.contact-container {
  padding: 60px 20px;
}





/*Navigation*/

nav{
  padding: 20px 0;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
}

nav a{
  text-decoration: none;
  color: var(--third-color);
  transition: all 100ms ease-in-out;
}



nav a:hover, nav li.active a{
  color: var(--fourth-color);
}

.brand{
  text-decoration: none;
  color: var(--fourth-color);
  font-weight: 700;
  font-size: 23px;

}

.brand:hover{
  color: var(--third-color);
}




footer{
  margin: 60px 0;
}

footer .contact-box{
background:var(--second-color);
padding: 30px;
border-radius: 10px;
}

footer .email-link{
  text-decoration: none;
  color: var(--third-color);
  font-size: 24px;
}

footer .email-link:hover{
  color: var(--fourth-color);
}

footer .social-links a{
  margin: 0 20px;
  color: var(--first-color);
  background-color: var(--fourth-color);
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
 
}

footer .social-links a:hover{
  color: var(--fourth-color);
  background-color: var(--first-color);
}

footer .contact-box p{
  margin: 0;
}

.contact-box h4{
  color: var(--fourth-color);
  font-size: 48px;
  font-weight: bold;

}




@media (max-width: 960px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }



  h5 {
    font-size: 20px;
  }



  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding-top: 0px;
  }

  .intro {
    padding-top: 50px;
  }



  .btn-branding {
    margin: 0px;
  }

  .work {
    padding: 30px;
  }

  footer .contact-box{
padding: 30px;
}

}