:root {

  --heading-font-family: "Nanum Gothic", sans-serif;
  --default-font-family: "Outfit", sans-serif;
}
body {
  background: #0c0b0b;
}

.hero {
  padding: 10px 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  color: white;
}

.hero h1 {
  color: white;
  font-size: 90px;
  font-weight: bold;
}

.hero h2 {
  color: #c9d6df;
}

img {
  border-radius: 10px;
}

p {
  font-size: 16px;
  line-height: 1.7;
  color: white;
}

.about-section {
  padding-top: 40px;
  padding-bottom: 50px;
}

.profile {
  border-radius: 20px;
}


/* intros */

.intro {
  padding-top: 50px;
  padding-bottom: 50px;
}

.intro h1,h5,h6{
  color: rgb(255, 255, 255);
}

/* Navigation */

nav {
  padding: 20px 0;
  
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
}

nav a {
  color:white;
  text-decoration: none;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: grey;
}

.brand {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 23px;
}

.brand:hover {
  color: var(--third-color);
}

/*buttons*/

.navigation-buttons {
  padding-left: 50px;
  padding-right: 50px;
}

a.button1 {
  display: inline-block;
  padding: 20px 80px 20px 80px;
  border: 0.1em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: large;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  transition: all 0.2s;
}

a.button1:hover {
  color: #000000;
  background-color: #ffffff;
}

/*About Me*/

.tech-stack-text{
  margin-top: 30px;
}

/*Footer*/

footer {
  margin: 100px 0;
}

footer p {
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: #c9d6df;
}

/*Footer links */

footer .social-links a {
  margin: 0 20px;
  color: white;
  background-color: #0c0b0b;
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 50%;
}

footer .email-link {
  text-decoration: none;
  color: #999999;
  font-size: 18px;
}

footer .email-link:hover {
  color: white;
}







/*In construction */















/*Work section */

.content-container {
  background: var(--fourth-color);
  padding: 140px 20px;
}

/*Contact page*/

.contact-text {
  color: var(--fourth-color);
}
.contact-container {
  padding: 60px 20px;
}


/*App*/



.icon {
  margin-top: 30px;
  margin-bottom: 70px;
}
.introduction {
  padding: 60px;
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h5 {
    font-size: 20px;
  }

  .hero h1 {
    font-size: 20px;
    text-align: center;
  }

  .hero h2 {
    font-size: 15px;
    text-align: center;
  }

  .hero .introduction {
    padding-bottom: 0px;
  }

  .navigation-buttons {
    padding-bottom: 55px;
  }

  footer p {
    font-size: 10px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .about-section {
    padding-top: 0px;
  }

  .intro {
    padding-top: 50px;
  }

  .btn-branding {
    margin: 0px;
  }

  .work {
    padding: 30px;
  }

  footer .contact-box {
    padding: 30px;
  }

  .icon {
    width: 50px;
  }

  footer {
    margin: 0px;
  }

  /*Button index */

  a.button1 {
    padding: 10px;
    font-size: medium;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1180px) and (orientation: portrait) {
    .hero h1 {
    font-size: 45px;
    
  }

 .about-section .picture-about{
  height: 300px;
 }
  

}